@charset "UTF-8";

/* -----------------------------------------------------------------
                       @media
1-ый параметр $min-max принимает 3 аргумента min, max, min-max.
   min       - для mobil @media
   max       - для dectop @media
   min-max   - для промежутка между mobil-dectop @media
2-ой параметр $breakpoint_1 принимает 1-ин аргумент.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...)
3-ий параметр $breakpoint_2 принимает 1-ин аргумент, является не обязательным параметром.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...) нужен для 1-ого параметра 3 аргумента.
 Дополнение:
   map-has-key  - Нужен для проверки ключа в карте, если ключа указанного нет то условие не выполняется.
   map-get      - Нужен для использование ключей из карты.
Пример:
   @include media(max, xxl) { display: none;}
   @include media(min, xxl) { display: none;}
   @include media(min-max, mn-lg, mx-xxl) { display: none;}
Одиночные брекпоинты:
   @include media(max, 870px,) { display: none;}
   @include media(min, 870px,) { display: none;}
   @include media(min-max, 870px, 1000px) { display: none;}
--------------------------------------------------------------------*/

@font-face {
  font-family: Circe;
  font-display: swap;
  src: url("../fonts/Circe-Bold.woff2") format("woff2"), url("../fonts/Circe-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: CRC35;
  font-display: swap;
  src: url("../fonts/CRC35.woff2") format("woff2"), url("../fonts/CRC35.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --main-color: #494949;
  --second-color: #e31e24;
  --text-main-color: #494949;
  --text-second-color: #e31e24;
  --bg-main-color: #e31e24;
}

:root {
  --bs-blue: #05c3de;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #de0814;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #3d3d3d;
  --bs-white: #fff;
  --bs-gray: #90959e;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #494949;
  --bs-secondary: #e31e24;
  --bs-success: #f5f5f5;
  --bs-info: #aaaaaa;
  --bs-warning: #ffc107;
  --bs-danger: #de0814;
  --bs-light: #fbfbfb;
  --bs-dark: #303540;
  --bs-primary-rgb: 73, 73, 73;
  --bs-secondary-rgb: 227, 30, 36;
  --bs-success-rgb: 245, 245, 245;
  --bs-info-rgb: 170, 170, 170;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 222, 8, 20;
  --bs-light-rgb: 251, 251, 251;
  --bs-dark-rgb: 94, 38, 39;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 61, 61, 61;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: system-ui, -apple-system, "Mulish", "Segoe UI", Roboto,
    "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(180deg, #5e2627 0%, #3f1c20 100%);
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: 1.25;
  --bs-body-color: #3d3d3d;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #d6d6d6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.3125rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.625rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #250707;
  --bs-link-hover-color: #de0814;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

.breadcrumb {
  --bs-breadcrumb-padding-x: 0;
  --bs-breadcrumb-padding-y: 0;
  --bs-breadcrumb-margin-bottom: 1rem;
  --bs-breadcrumb-bg: ;
  --bs-breadcrumb-border-radius: ;
  --bs-breadcrumb-divider-color: #90959e;
  --bs-breadcrumb-item-padding-x: 0.5rem;
  --bs-breadcrumb-item-active-color: #5b2527;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: var(--bs-breadcrumb-padding-y) var(--bs-breadcrumb-padding-x);
  margin-bottom: var(--bs-breadcrumb-margin-bottom);
  font-size: var(--bs-breadcrumb-font-size);
  list-style: none;
  background-color: var(--bs-breadcrumb-bg);
  border-radius: var(--bs-breadcrumb-border-radius);
  color: #aaaaaa;
}

.btn-secondary {
  --bs-btn-color: #250707;
  --bs-btn-bg: #d6d6d6;
  --bs-btn-border-color: #d6d6d6;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #250707;
  --bs-btn-hover-border-color: #250707;
  --bs-btn-focus-shadow-rgb: 130, 138, 145;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #565e64;
  --bs-btn-active-border-color: #51585e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #6c757d;
  --bs-btn-disabled-border-color: #6c757d;
}

.btn-primary {
  --bs-btn-color: #fff;
  --bs-btn-bg: #250707;
  --bs-btn-border-color: #250707;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #250707;
  --bs-btn-hover-border-color: #250707;
  --bs-btn-focus-shadow-rgb: 49, 132, 253;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #250707;
  --bs-btn-active-border-color: #250707;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #250707;
  --bs-btn-disabled-border-color: #250707;
}

.btn-outline-secondary {
  --bs-btn-color: #250707;
  --bs-btn-border-color: #d6d6d6;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #7a7979;
  --bs-btn-hover-border-color: #d6d6d6;
  --bs-btn-focus-shadow-rgb: 108, 117, 125;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #d6d6d6;
  --bs-btn-active-border-color: #d6d6d6;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #d6d6d6;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #d6d6d6;
  --bs-gradient: none;
}

.btn-outline-secondary:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#5e2627), to(#3f1c20));
  background: linear-gradient(180deg, #5e2627 0%, #3f1c20 100%);
}

.btn-outline-secondary:hover svg path {
  fill: #fff;
}

.nav-tabs {
  --bs-nav-tabs-border-width: 1px;
  --bs-nav-tabs-border-color: #d6d6d6;
  --bs-nav-tabs-border-radius: 0.3125rem;
  --bs-nav-tabs-link-hover-border-color: #d6d6d6 #d6d6d6 #d6d6d6;
  --bs-nav-tabs-link-active-color: #5e2627;
  --bs-nav-tabs-link-active-bg: transparent;
  --bs-nav-tabs-link-active-border-color: #5e2627 #5e2627 #5e2627;
  border-bottom: none;
}

.nav-tabs .nav-link {
  margin-bottom: calc(-1 * var(--bs-nav-tabs-border-width));
  background: none;
  border: var(--bs-nav-tabs-border-width) solid #90959e;
  border-radius: var(--bs-nav-tabs-border-radius);
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-link:focus {
  border-color: #5e2627;
}

.form-select {
  background-image: url("../img/icons/arrow-select.svg");
  background-repeat: no-repeat;
  background-position: right 0.75rem center;
  background-size: 8px 5px;
  border-radius: 0.625rem;
}

.form-label {
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 30px;
  opacity: 1;
}

.form-control:focus ~ .form-label,
.form-control:valid ~ .form-label {
  opacity: 0;
}

.form-file {
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
}

.form-file::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url("../img/icons/add-file.svg");
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute;
  width: 20px;
  height: 20px;
}

.form-check-input:checked[type=checkbox] {
  background-image: url("../img/icons/check.svg");
  background-size: 6px 6px;
}

.form-check-input:checked {
  background-color: #fff;
  border-color: #5e2627;
}

.form-check-input {
  width: 20px;
  height: 20px;
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #86b7fe;
  outline: 0;
  -webkit-box-shadow: 0 0 0 0.25rem rgba(37, 7, 7, 0.25);
          box-shadow: 0 0 0 0.25rem rgba(37, 7, 7, 0.25);
}

.border-dashed {
  border-style: dashed !important;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.border-dashed:hover {
  background: #fff;
  opacity: 0.8;
  color: #5e2627 !important;
}

.border-dashed:hover svg path {
  fill: #5e2627;
}

.accordion {
  --bs-accordion-color: #250707;
  --bs-accordion-bg: transparent;
  --bs-accordion-transition: color 0.15s ease-in-out,
    background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
  --bs-accordion-border-color: transparent;
  --bs-accordion-border-width: 0;
  --bs-accordion-border-radius: 0;
  --bs-accordion-inner-border-radius: 0;
  --bs-accordion-btn-padding-x: 1.25rem;
  --bs-accordion-btn-padding-y: 1rem;
  --bs-accordion-btn-color: #250707;
  --bs-accordion-btn-bg: var(--bs-accordion-bg);
  --bs-accordion-btn-icon: url("../img/icons/plus.svg");
  --bs-accordion-btn-icon-width: 2.875rem;
  --bs-accordion-btn-icon-transform: rotate(-180deg);
  --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
  --bs-accordion-btn-active-icon: url("../img/icons/minus.svg");
  --bs-accordion-btn-focus-border-color: transparent;
  --bs-accordion-btn-focus-box-shadow: none;
  --bs-accordion-body-padding-x: 1.25rem;
  --bs-accordion-body-padding-y: 1rem;
  --bs-accordion-active-color: #250707;
  --bs-accordion-active-bg: transparent;
}

.accordion-button:not(.collapsed)::after {
  background-image: var(--bs-accordion-btn-active-icon);
  -webkit-transform: var(--bs-accordion-btn-icon-transform);
      -ms-transform: var(--bs-accordion-btn-icon-transform);
          transform: var(--bs-accordion-btn-icon-transform);
}

.accordion-button::after {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: var(--bs-accordion-btn-icon-width);
  height: var(--bs-accordion-btn-icon-width);
  margin-left: auto;
  content: "";
  background-image: var(--bs-accordion-btn-icon);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  border: 1px solid #5e2627;
  border-radius: 50%;
  -webkit-transition: var(--bs-accordion-btn-icon-transition);
  transition: var(--bs-accordion-btn-icon-transition);
}

.pagination {
  --bs-pagination-padding-x: 0.5rem;
  --bs-pagination-padding-y: 0.375rem;
  --bs-pagination-font-size: 1rem;
  --bs-pagination-color: #5e2627;
  --bs-pagination-bg: transparent;
  --bs-pagination-border-width: 0;
  --bs-pagination-border-color: transparent;
  --bs-pagination-border-radius: 0;
  --bs-pagination-hover-color: #250707;
  --bs-pagination-hover-bg: transparent;
  --bs-pagination-hover-border-color: transparent;
  --bs-pagination-focus-color: var(--bs-link-hover-color);
  --bs-pagination-focus-bg: transparent;
  --bs-pagination-focus-box-shadow: none;
  --bs-pagination-active-color: #250707;
  --bs-pagination-active-bg: transparent;
  --bs-pagination-active-border-color: transparent;
  --bs-pagination-disabled-color: #6c757d;
  --bs-pagination-disabled-bg: transparent;
  --bs-pagination-disabled-border-color: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #494949;
  line-height: 1;
  font-family: Circe;
  font-size: 1rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: Circe;
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 72.75rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 9997;
}

body.popup-show::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup_show {
  z-index: 9999;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  padding: 45px 20px;
  width: 100%;
  max-width: 640px;
}

.lock .popup__content {
  visibility: visible;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

body {
  background-color: #fff;
}

.container {
  max-width: 1140px;
}

.services__3 {
  padding-bottom: 120px;
}

.services__content {
  z-index: 2;
}

.services__content::before {
  content: "";
  display: block;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
  position: absolute;
  z-index: -1;
  top: -34px;
  bottom: -10px;
  left: -65px;
  right: -40px;
}

.services__content::after {
  content: "";
  display: block;
  background-color: #e31e24;
  position: absolute;
  top: -34px;
  bottom: -10px;
  left: -65px;
  width: 26px;
}

.services h1 {
  color: #494949;
  font-size: 37px;
  font-family: Circe;
  line-height: 37px;
}

.title-37 {
  font-size: 37px;
  font-weight: 500;
  line-height: 37px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-37 {
  font-size: 37px;
}

.color-dark {
  color: #494949;
}

.fw-bold {
  font-weight: 700;
}

.lh15 {
  line-height: 1.5;
}

.lh11 {
  line-height: 1.125;
}

.lh18 {
  line-height: 1.8;
}

.button-red {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #e31e24;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  padding: 15px 25px;
  cursor: pointer;
  line-height: 1;
}

.color-red {
  color: #e31e24;
}

.mb-12 {
  margin-bottom: 120px;
}

.advantages {
  padding-top: 75px;
}

.advantages__text {
  opacity: 0.7;
}

.advantages__counter {
  border: 2px solid #e31e24;
  width: 50px;
  height: 50px;
}

.advantages__item {
  padding-left: 35px;
}

.advantages__item::before {
  content: "";
  display: block;
  position: absolute;
  top: 60px;
  bottom: 60px;
  right: -1px;
  background-color: rgba(0, 0, 0, 0.25);
  width: 1px;
}

input {
  border: none;
  background-color: transparent;
  display: block;
  width: 100%;
  padding-left: 0;
  outline: none;
}

input::-webkit-input-placeholder {
  color: #fff;
  opacity: 0.7;
}

input::-moz-placeholder {
  color: #fff;
  opacity: 0.7;
}

input:-ms-input-placeholder {
  color: #fff;
  opacity: 0.7;
}

input::-ms-input-placeholder {
  color: #fff;
  opacity: 0.7;
}

input::placeholder {
  color: #fff;
  opacity: 0.7;
}

.form input {
  color: #ffffff;
  letter-spacing: 0;
  line-height: 1.4;
}

.specifics {
  padding-top: 80px;
}

.specifics__list li::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  background-color: #e31e24;
  border-radius: 50%;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}

.steps__list {
  list-style-type: none;
}

.steps__item::before {
  content: "1";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #e31e24;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 700;
  line-height: 27px;
  width: 40px;
  height: 40px;
  top: 0;
  position: absolute;
  left: -40px;
  border: 1px solid #e31e24;
  border-radius: 50%;
  z-index: 1;
}

.steps__item::after {
  content: "";
  display: block;
  position: absolute;
  top: 40px;
  bottom: 0;
  left: -20px;
  width: 1px;
  background-color: #e31e24;
  z-index: -1;
}

.steps__item:last-child::after {
  display: none;
}