.btn {
  &__arrow {
    &::after {
      @include pseudo;
      @include wh(11px, 9px);
      position: absolute;

      top: 50%;
      transform: translateY(-50%);
    }
    &--back {
      &::after {
        @include background(url("@img/icons/arrow-back.svg"));
        left: 15px;
      }
	  &:hover{
		&::after{
			@include background(url("@img/icons/arrow-next.svg"));
			transform: translateY(-50%) rotate(180deg);
		}
	  }
    }
    &--next {
      &::after {
        right: 15px;
        @include background(url("@img/icons/arrow-next.svg"));
      }
    }
    &--next-back {
      &::after {
        left: 15px;
        @include background(url("@img/icons/arrow-next.svg"));
        transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}
