.swiper-button-next,
.swiper-button-prev {
  z-index: 100;

  @include wh(43px);
  transition: all 0.5s ease-in-out;
  &:hover {
    transform: scale(0.9);
    opacity: 0.8;
  }
  &::after {
    @include pseudo;

    @include wh(9px, 16px);
    @include background(url("@img/icons/arrow-slider.svg"));
  }
}
.swiper-slide, swiper-slide{
  height: auto;
}
.works,
.documents {
  .swiper-button-next,
  .swiper-button-prev {
    @include media(max, 1380px) {
      position: relative;
      left: inherit;
      right: inherit;
      top: inherit;
      margin: 0;
    }

    &::after {
      @include background(url("@img/icons/arrow-catalog.svg"));
    }
  }
  .swiper-control {
    position: absolute;
    top: 50%;

    @include media(max, 1380px) {
      bottom: inherit;
      position: relative;
      top: inherit;
    }
  }
}
.promo-constructor {
  .swiper-button-next,
  .swiper-button-prev {
    @include media(max, 1380px) {
      position: relative;
      left: inherit;
      right: inherit;
      top: inherit;
      margin: 0;
    }

    &::after {
      @include background(url("@img/icons/arrow-catalog.svg"));
    }
  }
  .swiper-control {
    position: absolute;
    bottom: 6%;

    @include media(max, 1380px) {
      bottom: inherit;
      position: relative;
      top: inherit;
    }
  }
}

.swiper-button-prev {
  left: -9%;
  @include media(max, 1380px) {
    left: 80%;
  }
  @include media(max, sm) {
    left: 60%;
  }
  &::after {
    transform: rotate(180deg);
  }
}

.swiper-button-next {
  right: -9%;
  @include media(max, 1380px) {
    right: 2%;
  }
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  width: 30px;
  height: 2px;
  background-color: #fff;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  top: -64px;
}

.swiper-pagination-bullet {
  opacity: 0.5;
  &-active {
    opacity: 1;
  }
}

.swiper-control {
  @include media(max, 1380px) {
    bottom: 0;
  }
}
.promo-constructor {
  .mySwiper {
    .swiper-slide {
      padding: 5px;
      transition: all .3s ease-in-out;
      &:hover{
        border: 1px solid #5e2627;
      border-radius: 5px;
      }
    }
    .swiper-slide-thumb-active {
      border: 1px solid #5e2627;
      border-radius: 5px;
    }
  }
}
