.services {
  // .services__3
  &__3 {
    padding-bottom: 120px;
  }
  // .services__box-img
  &__box-img {
  }
  // .services__content
  &__content {
    z-index: 2;
    &::before {
      @include pseudo;
      background-color: #fff;
      box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.25);
      position: absolute;
      z-index: -1;
      top: -34px;
      bottom: -10px;
      left: -65px;
      right: -40px;
    }
    &::after {
      @include pseudo;
      background-color: #e31e24;
      position: absolute;
      top: -34px;
      bottom: -10px;
      left: -65px;
      width: 26px;
    }
  }
  h1 {
    color: #494949;
    font-size: 37px;
    font-family: Circe;
    line-height: 37px;
  }
}
.container {
}
.row {
}
.g-5 {
}
.col-12 {
}
.col-lg-6 {
}
.title-37 {
  font-size: 37px;
  font-weight: 500;
  line-height: 37px;
}
.fs-18 {
  
  font-size: 18px;
  
}
.fs-20 {
  
  font-size: 20px;
  
}
.fs-24 {
  font-size: 24px;
}
.fs-37 {
  font-size: 37px;
}

.color-dark {
  color: #494949;
}
.mb-4 {
}

.fw-bold {
  font-weight: 700;
}
.lh15 {
  line-height: 1.5;
}
.lh11 {
  line-height: 1.125;
}
.lh18 {
  line-height: 1.8;
}
.button-red {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  background-color: #e31e24;
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: 0;
  text-align: center;
  padding: 15px 25px;
  cursor: pointer;
  line-height: 1;
}
.pb-4 {
}
.align-self-end {
}
.color-red {
  color: #e31e24;
}
.mb-12 {
  margin-bottom: 120px;
}
.advantages {
  padding-top: 75px;
  &__text {
    opacity: 0.7;
  }
  &__counter {
    border: 2px solid #e31e24;
    width: 50px;
    height: 50px;
  }
  &__item {
    padding-left: 35px;
    &::before {
      @include pseudo;
      position: absolute;
      top: 60px;
      bottom: 60px;
      right: -1px;
      background-color: rgba(0, 0, 0, 0.25);
      width: 1px;
    }
  }
}
input {
  border: none;
  background-color: transparent;
  display: block;
  width: 100%;
  padding-left: 0;
  outline: none;
  &::placeholder{
    color: #fff;
    opacity: 0.7;
  }
}
.form {
  input {
    color: #ffffff;
    letter-spacing: 0;
    line-height: 1.4;
  }
}
