.span {
  &::before {
    @include pseudo;
    @include wh(15px);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-radius: 50%;
  }
  &--black {
    &::before {
     background-color: #3d3d3d;
     
    }
  }
  &--color {
    &::before {
      background: conic-gradient(from 180deg at 50% 50%, #FF0000 0deg, #FFE600 58.12deg, #00FF19 118.12deg, #00D1FF 174.38deg, #001AFF 230.62deg, #AD00FF 290.63deg, #FF00C7 360deg);
    }
  }
  &--office {
    &::before {
      @include background(url("@img/icons/office.svg"));
    }
  }
  &--mail {
    &::before {
      @include background(url("@img/icons/mail.svg"));
    }
  }
  &--map {
    &::before {
      @include background(url("@img/icons/map.svg"));
    }
  }
}