.footer {
  .logo {
    // .logo__img
    &__img {
      width: 180px;
      height: 45px;
    }
  }

  .social {
    // .social__link
    &__link {
      @include wh(30px);
    }
  }
  svg {
    transition: all 0.5s ease-in-out;
    &:hover {
      path:first-child {
        fill: #5e2627;
      }
    }
  }
}
